<div class="menu-bar">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<div class="menu" [class.open]="opened" (click)="toggleMenu()">
  <div class="menu-items">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      (click)="toggleMenu(); $event.stopPropagation()"
      class="menu-item"
    >
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </a>

    <a
      routerLink="/artists"
      routerLinkActive="active"
      (click)="toggleMenu(); $event.stopPropagation()"
      class="menu-item"
    >
      <mat-icon>person</mat-icon>
      <span>Künstler</span>
    </a>
  </div>
</div>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
