/* You can add global styles to this file, and also import other style files */

@import "@fontsource/varela-round";
@import "./theme.scss";

body {
  background-color: black;
  margin: 0;
  font-family: "Varela Round";
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div {
  box-sizing: border-box;
}

.content-container {
  max-width: 1640px;
  margin: auto;
  padding: 32px 0px;
}

@media (max-width: 1279px) {
  .content-container {
    max-width: 100%;
    margin: 0px 32px;
  }
}

@media (max-width: 599px) {
  .content-container {
    margin: 0px 16px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }
}
